@if (post(); as post) {
  <div
    class="relative ml-[calc(50%-50vw)] mr-[calc(50%-50vw)] h-[calc(100vh-65px)] w-[calc(100vw-4px)] bg-cover bg-center"
    [ngStyle]="{ 'background-image': 'url(' + post.backgroundImage + ')' }">
    <div class="mx-auto flex max-w-container flex-col px-8 text-accent-lighter">
      <h2 class="pt-32 text-center text-6xl font-semibold uppercase">{{ post.title }}</h2>

      <div class="mt-8 flex justify-center gap-5">
        <p class="text-lg">{{ post.date | date: dateFormat }}</p>
      </div>
    </div>
  </div>

  <div class="mx-auto max-w-container px-8 py-16 text-primary-darker">
    <p class="mb-10 text-justify text-lg font-semibold">{{ post.subtitle }}</p>

    @for (des of post.description; track des) {
      <div class="mb-10">
        @if (des.title; as title) {
          <h3 class="mb-5 text-5xl font-bold uppercase">{{ title }}</h3>
        }

        <p class="text-justify text-lg/6">{{ des.description }}</p>

        @if (des.img; as img) {
          <div class="mt-5">
            <img height="999" width="999" alt="" [ngSrc]="img" />
          </div>
        }
      </div>
    }
  </div>
}
