<div class="grid grid-cols-5 max-md:grid-cols-1 md:gap-10">
  <div class="flex max-md:pt-10 md:flex-col md:border-r-2 md:py-20">
    @for (category of categories; track category) {
      <a
        class="cursor-pointer p-2 transition-all ease-linear"
        [ngClass]="[selectCategory() === category.type ? 'bg-accent' : 'hover:text-warn md:hover:ml-2']"
        (click)="selectCategory.set(category.type)"
        >{{ category.label }}</a
      >
    }
  </div>

  <div class="col-span-4 py-10 md:py-20">
    <h2 class="mb-8 text-center text-3xl font-bold uppercase">Wpisy</h2>

    <div class="grid grid-cols-3 gap-7 max-lg:grid-cols-2 max-sm:grid-cols-1">
      @for (post of posts; track post) {
        <app-post-container [postType]="post.type" [post]="post" />
      }
    </div>
  </div>
</div>
