<div class="flex flex-col gap-5 text-primary-darker">
  @for (entry of entries$ | async; track entry.id) {
    <div
      class="relative grid grid-cols-8 items-center gap-3 rounded-md border border-accent-darker px-2 py-5 shadow-sm max-md:grid-cols-4">
      <div
        class="absolute left-8 top-[-10px] flex items-center gap-1 rounded border-2 border-accent-darker bg-accent-lighter p-1">
        <div class="h-2.5 w-2.5 rounded-full" [ngStyle]="{ 'background-color': entry.bgType }"></div>
        <span class="text-[10px] uppercase text-primary">{{ entry.typeEntry }}</span>
      </div>

      <div class="justify-self-center">
        <img class="h-[50px] rounded-full" width="50" height="50" alt="logo" [ngSrc]="entry.userLogo" />
      </div>

      <div class="col-span-3">
        <a class="cursor-pointer" (click)="goToEntry(entry.entryId)">
          <h3 class="font-bold">{{ entry.title }}</h3>
        </a>
        <p class="text-xs text-accent-darker" matTooltip="{{ entry.createAt | date: 'medium' }}">
          {{ entry.createBy }} rozpoczął {{ entry.createAt | timeElapsed }} temu
        </p>
      </div>

      <div class="flex items-center gap-2 justify-self-center">
        <mat-icon fontIcon="comment" />
        <p class="text-sm">{{ entry.numberOfComments }}</p>
      </div>

      <div class="col-span-2 justify-self-center">
        <p class="mb-1 text-xs">Ten wpis był przydatny:</p>
        <app-start-rating [averageRating]="entry.rating" />
        <p class="mt-0.5 text-xs">
          Średnia <span class="font-bold">{{ entry.rating }}</span> na podstawie
          <span class="font-bold"> {{ entry.ratedBy }}</span> ocen
        </p>
      </div>

      <div class="justify-self-end max-md:col-end-5">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon fontIcon="more_vert" />
        </button>

        <mat-menu #menu>
          <button mat-menu-item (click)="goToEntry(entry.entryId)">Zobacz</button>
          @if (entry.isFallowing) {
            <button mat-menu-item>Usuń z obserwowanych</button>
          } @else {
            <button mat-menu-item>Obserwuj</button>
          }
        </mat-menu>
      </div>

      @if (entry.isFallowing) {
        <div
          class="absolute right-8 top-1.5 flex items-center gap-2 rounded border border-accent-darker bg-primary p-1">
          <mat-icon class="material-symbols-small-size !size-4 text-warn" fontIcon="star" />
          <span class="text-xs text-warn">Obserwujesz</span>
        </div>
      }
    </div>
  }
</div>
