<div class="flex min-h-8">
  @if (ratingIsReadonly()) {
    @for (star of stars; track star; let i = $index) {
      <ng-container *ngTemplateOutlet="ratingIcons; context: { star }" />
    }
  } @else {
    <div class="cursor-pointer" (mouseleave)="resetStars()">
      @for (star of stars; track star; let i = $index) {
        <span (mouseenter)="highlightStars(i)" (click)="userRating.set(i + 1)">
          <ng-container *ngTemplateOutlet="ratingIcons; context: { star }" />
        </span>
      }
    </div>
  }
</div>

<ng-template #ratingIcons let-star="star">
  <mat-icon class="text-warn" [fontIcon]="star" [ngClass]="[star === 'star_rate' ? 'material-symbols-fill' : '']" />
</ng-template>
